/** Import Lepton stylesheet (Chrome) *****************************************/
@import url("css/leptonChrome.css");


/** Add your custom styles below **********************************************/

/* Enable option to edit bookmark URLs under Add Bookmark (blue star) menu */
.editBMPanel_locationRow {
  display: initial !important;
}

/* Disable Email Image/Audio/Video and Set as Desktop Background context menu items */
#context-sendimage,
#context-sendvideo,
#context-sendaudio,
#context-sep-setbackground,
#context-setDesktopBackground {
  display: none !important;
}

/*container tab label color when selected */
  .tabbrowser-tab[class*="identity-color-"] .tab-label {
    color: var(--identity-tab-color) !important;
}

@media (prefers-color-scheme: dark){
  /* newtab plus icon color */
  #tabs-newtab-button .toolbarbutton-icon {
    fill: #a9b665 !important;
  }

  /* Close button animation */
  .close-icon:hover {
    border-radius: 60% !important;
    fill: #ea6962 !important;
    transition: fill 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
  }

  #urlbar{
    background-image: linear-gradient(90deg, #ab6c7d, #d3869b, #d8a657, #e9b143, #b4730e, #b94c07, #f28534, #e78a4e, #ea6962, #c14a4a, #f2594b);
  }

  #urlbar-background,#urlbar{
    border-radius: 16px !important ;
    background-color: #1b1b1b !important;
    border: transparent !important;
  }
  #urlbar[focused=true] #urlbar-background{
    background-color: rgb(40, 40, 40, 0.85) !important;
  }

  #urlbar[open=true] #urlbar-background {
    background-color: rgb(50, 48, 47, 0.85) !important;
  }
}

@media (prefers-color-scheme: light){
    /* newtab plus icon color */
  #tabs-newtab-button .toolbarbutton-icon {
    fill: #6c782e !important;
  }

  /* Close button animation */
  .close-icon:hover {
    border-radius: 60% !important;
    fill: #c14a4a !important;
    transition: fill 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
  }

  #urlbar{
    background-image: linear-gradient(90deg, #8f3f71, #924f79, #945e80, #b47109, #b4730e, #a96b2c, #af3a03, #b94c07, #c35e0a, #c14a4a, #af2528, #9d0006);
  }

  #urlbar-background,#urlbar{
    border-radius: 16px !important ;
    background-color: #f2e5bc !important;
    border: transparent !important;
  }
  #urlbar[focused=true] #urlbar-background{
    background-color: rgb(251, 241, 199, 0.85) !important;
  }

  #urlbar[open=true] #urlbar-background {
    background-color: rgb(244, 232, 190, 0.85) !important;
  }
}

#urlbar-background{
  margin-bottom: 2px !important;
  margin-top: 2px !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
}
