/** Import Lepton stylesheet (Chrome) *****************************************/
@import url("css/leptonChrome.css");


/** Add your custom styles below **********************************************/

/* Enable option to edit bookmark URLs under Add Bookmark (blue star) menu */
.editBMPanel_locationRow {
	display: initial !important;
}

/* Disable Email Image/Audio/Video and Set as Desktop Background context menu items */
#context-sendimage,
#context-sendvideo,
#context-sendaudio,
#context-sep-setbackground,
#context-setDesktopBackground {
	display: none !important;
}

/*container tab label color when selected */
.tabbrowser-tab[class*="identity-color-"] .tab-label {
	color: var(--identity-tab-color) !important;
}

@media (prefers-color-scheme: dark) {

	/* newtab plus icon color */
	#tabs-newtab-button .toolbarbutton-icon {
		fill: #a9b665 !important;
	}

	/* Close button animation */
	.close-icon:hover {
		border-radius: 60% !important;
		fill: #ea6962 !important;
		transition: fill 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
	}

	#urlbar {
		background-image: linear-gradient(90deg, #ab6c7d, #d3869b, #d8a657, #e9b143, #b4730e, #b94c07, #f28534, #e78a4e, #ea6962, #c14a4a, #f2594b);
	}

	#urlbar-background,
	#urlbar {
		border-radius: 16px !important;
		background-color: #1b1b1b !important;
		border: transparent !important;
	}

	#urlbar[focused=true] #urlbar-background {
		background-color: rgb(40, 40, 40, 0.85) !important;
	}

	#urlbar[open=true] #urlbar-background {
		background-color: rgb(50, 48, 47, 0.85) !important;
	}
}

@media (prefers-color-scheme: light) {

	/* newtab plus icon color */
	#tabs-newtab-button .toolbarbutton-icon {
		fill: #6c782e !important;
	}

	/* Close button animation */
	.close-icon:hover {
		border-radius: 60% !important;
		fill: #c14a4a !important;
		transition: fill 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
	}

	#urlbar {
		background-image: linear-gradient(90deg, #8f3f71, #924f79, #945e80, #b47109, #b4730e, #a96b2c, #af3a03, #b94c07, #c35e0a, #c14a4a, #af2528, #9d0006);
	}

	#urlbar-background,
	#urlbar {
		border-radius: 16px !important;
		background-color: #f2e5bc !important;
		border: transparent !important;
	}

	#urlbar[focused=true] #urlbar-background {
		background-color: rgb(251, 241, 199, 0.85) !important;
	}

	#urlbar[open=true] #urlbar-background {
		background-color: rgb(244, 232, 190, 0.85) !important;
	}
}

#urlbar-background {
	margin-bottom: 2px !important;
	margin-top: 2px !important;
	margin-left: 2px !important;
	margin-right: 2px !important;
}

.toolbarbutton-badge-stack {
	border-radius: 30px !important;
}

#tracking-protection-icon-container {
	border-radius: 30px !important;
}

#identity-icon-box {
	border-radius: 30px !important;
}

#identity-permission-box {
	border-radius: 30px !important;
}

#star-button-box {
	border-radius: 30px !important;
}

#reload-button {
	border-radius: 30px !important;
}

#notification-popup-box {
	border-radius: 30px !important;
}

#back-button:hover {
	border-radius: 30px !important;
}

#forward-button:hover {
	border-radius: 30px !important;
}

:root {
	--tab-border-radius: 10px !important;
	--conf-tab-size: 20px;
	--conf-border-radius: 12px;

	--tab-min-height: var(--conf-tab-size) !important;
	--tab-max-height: var(--conf-tab-size) !important;

	--toolbarbutton-border-radius: var(--conf-border-radius) !important;
	--tab-border-radius: var(--conf-border-radius) !important;
}

.tab-icon-sound-label.tab-icon-sound-playing-label {
	display: none;
}

.titlebar-spacer {
	display: none;
}

.tab-text.tab-label {
	font-size: 14px;
	font-weight: bold;
	font-family: Cascadia Code;
}


@-moz-document url("chrome://browser/content/places/bookmarksSidebar.xhtml") {

	menupopup {

		--panel-color: rgba(255, 255, 255, 0.800000011920929) !important;
		--panel-border-color: rgb(48, 48, 48) !important;
		--panel-background: #101010 !important;
		--menuitem-hover-background-color: #313131 !important;
		--menuitem-disabled-hover-background-color: #1f1f1f !important;
		--menu-color: rgba(255, 255, 255, 0.8) !important;
		--menu-disabled-color: color-mix(in srgb, #101010 65%, rgb(255, 255, 255)) !important;
		--menu-border-color: var(--panel-separator-color, Field) !important;
	}


}


@-moz-document url("chrome://browser/content/places/historySidebar.xhtml") {
	menupopup {

		--panel-color: rgba(255, 255, 255, 0.800000011920929) !important;
		--panel-border-color: rgb(48, 48, 48) !important;
		--panel-background: #101010 !important;
		--menuitem-hover-background-color: #313131 !important;
		--menuitem-disabled-hover-background-color: #1f1f1f !important;
		--menu-color: rgba(255, 255, 255, 0.8) !important;
		--menu-disabled-color: color-mix(in srgb, #101010 65%, rgb(255, 255, 255)) !important;
		--menu-border-color: var(--panel-separator-color, Field) !important;
	}
}

@-moz-document url("chrome://browser/content/syncedtabs/sidebar.xhtml") {
	menupopup {

		--panel-color: rgba(255, 255, 255, 0.800000011920929) !important;
		--panel-border-color: rgb(48, 48, 48) !important;
		--panel-background: #101010 !important;
		--menuitem-hover-background-color: #313131 !important;
		--menuitem-disabled-hover-background-color: #1f1f1f !important;
		--menu-color: rgba(255, 255, 255, 0.8) !important;
		--menu-disabled-color: color-mix(in srgb, #101010 65%, rgb(255, 255, 255)) !important;
		--menu-border-color: var(--panel-separator-color, Field) !important;
	}


}

@-moz-document url("chrome://browser/content/places/places.xhtml") {
	menupopup {

		--panel-color: rgba(255, 255, 255, 0.800000011920929) !important;
		--panel-border-color: rgb(48, 48, 48) !important;
		--panel-background: #101010 !important;
		--menuitem-hover-background-color: #313131 !important;
		--menuitem-disabled-hover-background-color: #1f1f1f !important;
		--menu-color: rgba(255, 255, 255, 0.8) !important;
		--menu-disabled-color: color-mix(in srgb, #101010 65%, rgb(255, 255, 255)) !important;
		--menu-border-color: var(--panel-separator-color, Field) !important;
	}
}

@-moz-document url("chrome://browser/content/pageinfo/pageInfo.xhtml") {
	menupopup {

		--panel-color: rgba(255, 255, 255, 0.800000011920929) !important;
		--panel-border-color: rgb(48, 48, 48) !important;
		--panel-background: #101010 !important;
		--menuitem-hover-background-color: #313131 !important;
		--menuitem-disabled-hover-background-color: #1f1f1f !important;
		--menu-color: rgba(255, 255, 255, 0.8) !important;
		--menu-disabled-color: color-mix(in srgb, #101010 65%, rgb(255, 255, 255)) !important;
		--menu-border-color: var(--panel-separator-color, Field) !important;
	}
}

@-moz-document url("chrome://devtools/content/webconsole/index.html") {
	menupopup {

		--panel-color: rgba(255, 255, 255, 0.800000011920929) !important;
		--panel-border-color: rgb(48, 48, 48) !important;
		--panel-background: #101010 !important;
		--menuitem-hover-background-color: #313131 !important;
		--menuitem-disabled-hover-background-color: #1f1f1f !important;
		--menu-color: rgba(255, 255, 255, 0.8) !important;
		--menu-disabled-color: color-mix(in srgb, #101010 65%, rgb(255, 255, 255)) !important;
		--menu-border-color: var(--panel-separator-color, Field) !important;
	}
}

@-moz-document url("chrome://devtools/content/framework/toolbox-window.xhtml") {
	menupopup {

		--panel-color: rgba(255, 255, 255, 0.800000011920929) !important;
		--panel-border-color: rgb(48, 48, 48) !important;
		--panel-background: #101010 !important;
		--menuitem-hover-background-color: #313131 !important;
		--menuitem-disabled-hover-background-color: #1f1f1f !important;
		--menu-color: rgba(255, 255, 255, 0.8) !important;
		--menu-disabled-color: color-mix(in srgb, #101010 65%, rgb(255, 255, 255)) !important;
		--menu-border-color: var(--panel-separator-color, Field) !important;
	}
}

@-moz-document url("chrome://mozapps/content/downloads/unknownContentType.xhtml") {
	menupopup {

		--panel-color: rgba(255, 255, 255, 0.800000011920929) !important;
		--panel-border-color: rgb(48, 48, 48) !important;
		--panel-background: #101010 !important;
		--menuitem-hover-background-color: #313131 !important;
		--menuitem-disabled-hover-background-color: #1f1f1f !important;
		--menu-color: rgba(255, 255, 255, 0.8) !important;
		--menu-disabled-color: color-mix(in srgb, #101010 65%, rgb(255, 255, 255)) !important;
		--menu-border-color: var(--panel-separator-color, Field) !important;
	}

	#openHandler {
		-moz-appearance: none !important;
		background: #101010 !important;
		color: rgba(255, 255, 255, 0.800000011920929) !important;
		border-radius: 4px !important;
		transition: background 300ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;

	}

	#openHandler:hover {
		background: #313131 !important;

	}

	#openHandlerBox {
		-moz-appearance: none !important;
		background: #101010 !important;
		color: rgba(255, 255, 255, 0.800000011920929) !important;
		border: 1px solid rgb(48, 48, 48) !important;
		border-radius: 4px !important;
	}



}

@-moz-document url("chrome://global/content/appPicker.xhtml") {

	#app-picker-listbox {
		border-radius: 4px !important;
	}

	#app-picker-listbox>richlistitem {
		border-radius: 4px !important;
	}

	richlistbox {
		border-radius: 4px !important;
	}

}

@-moz-document private {

	html:not(#ublock0-epicker),
	html:not(#ublock0-epicker) body,
	#newtab-customize-overlay {
		background-image: url("icons/spill.svg") !important;
	}

	#search-handoff-button {
		background-color: hsla(290, 21%, 35%, 0.2) !important;
		border-top: 1px solid hsla(290, 21%, 50%, 0.2) !important;
		fill: hsl(290, 21%, 60%) !important;
		backdrop-filter: blur(24px) !important;
	}

	#search-handoff-button:hover,
	#search-handoff-button:focus,
	#search-handoff-button:active {
		background-color: hsla(290, 21%, 45%, 0.2) !important;
		border-top: 1px solid hsla(290, 21%, 55%, 0.2) !important;
		fill: hsl(290, 21%, 70%) !important;
	}

	#search-handoff-button .fake-textbox {
		color: hsl(290, 21%, 60%) !important;
	}

	#search-handoff-button:active>.fake-textbox,
	#search-handoff-button:hover>.fake-textbox,
	#search-handoff-button:focus>.fake-textbox {
		color: hsl(290, 21%, 70%) !important;
	}

	#tabbrowser-tabs .tabbrowser-tab .tab-stack .tab-content {
		filter: blur(4px) !important;
		transition: filter 200ms linear !important;
	}

	#tabbrowser-tabs .tabbrowser-tab:hover .tab-stack .tab-content {
		filter: blur(0px) !important;
	}
}

/*  Clean and tight extensions menu */
#unified-extensions-panel #unified-extensions-view {
	width: 100% !important;
	/*  For firefox v115.x */
}

#unified-extensions-view {
	--uei-icon-size: 22px;
	/*  Change icon size */
	--firefoxcss-number-of-extensions-in-a-row: 3;
	/*  Increase to the number of icons you want in one row */
}

#unified-extensions-view .panel-header,
#unified-extensions-view .panel-header+toolbarseparator,
#unified-extensions-view .panel-subview-body+toolbarseparator,
#unified-extensions-view #unified-extensions-manage-extensions,
#unified-extensions-view .unified-extensions-item-menu-button.subviewbutton,
#unified-extensions-view .unified-extensions-item-action-button .unified-extensions-item-contents {
	display: none !important;
}

#unified-extensions-view .panel-subview-body {
	padding: 4px !important;
}

#unified-extensions-view .unified-extensions-item .unified-extensions-item-icon,
#unified-extensions-view .unified-extensions-item .toolbarbutton-badge-stack {
	margin-inline-end: 0px !important;
}

#unified-extensions-view #overflowed-extensions-list,
#unified-extensions-view #unified-extensions-area,
#unified-extensions-view .unified-extensions-list {
	display: grid !important;
	grid-template-columns: repeat(var(--firefoxcss-number-of-extensions-in-a-row), auto);
	justify-items: left !important;
	align-items: left !important;
}

#unified-extensions-view .unified-extensions-list .unified-extensions-item,
#unified-extensions-view .unified-extensions-list {
	max-width: max-content;
}

#unified-extensions-view #unified-extensions-area {
	padding-bottom: 3px !important;
	border-bottom: 1px solid #aeaeae33 !important;
}

#unified-extensions-view .unified-extensions-list {
	/*     border-top: 1px solid #aeaeae33 !important; */
}

#wrapper-edit-controls:is([place="palette"],
	[place="panel"])>#edit-controls,
#wrapper-zoom-controls:is([place="palette"],
	[place="panel"])>#zoom-controls,
:is(panelview, #widget-overflow-fixed-list) .toolbaritem-combined-buttons {
	margin: 0px !important;
}

:root {
	/* Change to any color you want */
	--firefoxcss-colored-sound-tab: #5960c482 !important;
}

#tabbrowser-tabs .tabbrowser-tab:is([soundplaying]) .tab-background:not([selected]) {
	background-color: var(--firefoxcss-colored-sound-tab) !important;
	transition: background-color 500ms ease !important;
}

@-moz-document private {
	#tabbrowser-tabs .tabbrowser-tab .tab-stack .tab-content {
		filter: blur(4px) !important;
		transition: filter 200ms linear !important;
	}

	#tabbrowser-tabs .tabbrowser-tab:hover .tab-stack .tab-content {
		filter: blur(0px) !important;
	}

	/* ----- Blur the email address in hamburger menu ----- */
	#appMenu-popup #appMenu-header-description {
		filter: blur(4px) !important;
		transition: filter 350ms ease-out !important;
		transition-delay: 250ms !important;
	}

	#appMenu-popup #appMenu-fxa-label2:hover #appMenu-header-description {
		filter: blur(0px) !important;
	}
}
